<p>Find me in app/views/people/index.html.erb</p>
<h1 class="ui header">People</h1>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr class="center aligned">
        <td>
          <img class="ui avatar image small" src="https://robohash.org/<%= person.avatar %>?set=set2" />
        </td>
        <td><%= link_to "Show", person_path(person) %></td>
        <td><%= link_to "Edit", edit_person_path(person)%></td>
        <td><%= link_to "Delete", person_path(person), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to "New Person", new_person_path %>
